/.venv/
/.idea/
/static/white/0@2x.png
/static/white/0@1x.png
/static/white/1@1x.png
/static/white/1@2x.png
/article/migrations/0001_initial.py
/gannan_orange/migrations/0001_initial.py
/User/migrations/0001_initial.py
/static/white/2@1x.png
/static/white/2@2x.png
/article/migrations/0002_alter_plantingtecharticle_options_and_more.py
/User/migrations/0002_customuser_role.py
/gannan_orange/migrations/0002_variety_slug.py
/static/white/3@1x.png
/static/white/3@2x.png
/User/migrations/0003_alter_customuser_role.py
/gannan_orange/migrations/0003_alter_variety_slug.py
/article/migrations/0003_comment.py
/static/white/4@1x.png
/static/white/4@2x.png
/gannan_orange/migrations/0004_remove_variety_slug.py
/article/migrations/0004_userarticleview.py
/static/white/5@1x.png
/static/white/5@2x.png
/article/migrations/0005_alter_comment_options_comment_is_expert_answer.py
/gannan_orange/migrations/0005_soiltype_variety_brix_variety_chill_requirement_and_more.py
/static/white/6@1x.png
/static/white/6@2x.png
/gannan_orange/migrations/0006_alter_soiltype_options.py
/static/white/7@1x.png
/static/white/7@2x.png
/gannan_orange/migrations/0007_favorite.py
/static/white/8@1x.png
/static/white/8@2x.png
/gannan_orange/migrations/0008_favoritevariety_delete_favorite.py
/static/white/9@1x.png
/static/white/9@2x.png
/gannan_orange/migrations/0009_alter_favoritevariety_options_and_more.py
/static/white/10@1x.png
/static/white/10@2x.png
/gannan_orange/migrations/0010_soiltype_create_time_soiltype_update_time.py
/static/white/11@1x.png
/static/white/11@2x.png
/gannan_orange/migrations/0011_alter_soiltype_name_alter_soiltype_ph_range.py
/static/white/12@1x.png
/static/white/12@2x.png
/gannan_orange/migrations/0012_alter_favoriteplantingtech_unique_together_and_more.py
/static/white/13@1x.png
/static/white/13@2x.png
/gannan_orange/migrations/0013_variety_favorite_user.py
/static/white/14@1x.png
/static/white/14@2x.png
/gannan_orange/migrations/0014_alter_variety_favorite_user.py
/static/white/15@1x.png
/static/white/15@2x.png
/static/white/16@1x.png
/static/white/16@2x.png
/static/white/17@1x.png
/static/white/17@2x.png
/static/white/18@1x.png
/static/white/18@2x.png
/static/white/19@1x.png
/static/white/19@2x.png
/static/white/20@1x.png
/static/white/20@2x.png
/static/white/21@1x.png
/static/white/21@2x.png
/static/white/22@1x.png
/static/white/22@2x.png
/static/white/23@1x.png
/static/white/23@2x.png
/static/white/24@1x.png
/static/white/24@2x.png
/static/white/25@1x.png
/static/white/25@2x.png
/static/white/26@1x.png
/static/white/26@2x.png
/static/white/27@1x.png
/static/white/27@2x.png
/static/white/28@1x.png
/static/white/28@2x.png
/static/white/29@1x.png
/static/white/29@2x.png
/static/white/30@1x.png
/static/white/30@2x.png
/static/white/31@1x.png
/static/white/31@2x.png
/static/white/32@1x.png
/static/white/32@2x.png
/static/white/33@1x.png
/static/white/33@2x.png
/static/white/34@1x.png
/static/white/34@2x.png
/static/white/35@1x.png
/static/white/35@2x.png
/static/white/36@1x.png
/static/white/36@2x.png
/static/white/37@1x.png
/static/white/37@2x.png
/static/white/38@1x.png
/static/white/38@2x.png
/static/white/99@1x.png
/static/white/99@2x.png
/templates/article/comment_form.html
/db.sqlite3
/templates/article/expert_answers.html
/static/logo.svg
/test.py
